html {
  font-size: 16px;
  font-family: 'Mukta', sans-serif;
  color: rgb(81, 73, 58);
  background-color: rgb(252, 247, 238);
}

.container {
  margin: auto;
  width: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.sixty {
  max-width: 60%;
  margin-left: 2rem;
}

.fourty {
  max-width: 40%;
  margin-left: 2rem;
}

.image img, .image video {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  padding: 2rem 0;
}

#third h1, #fourth h1, .center {
  text-align: center;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.3;
  font-weight: 600;
  padding: 1rem 0 0.5rem 0;
}

p {
  line-height: 1.3;
}

/* MOBILE */

.container-mobile {
  margin: auto;
  padding: 1rem 0;
  background-color: rgb(205, 197, 183);
  display: none;
}

.mobile-flex {
  margin: auto;
  display: none;
}

.container-mobile a {
  line-height: 2;
  color: mediumslateblue;
}

.padding {
  padding: 0.5rem 1.5rem;
}

.brighter {
  background-color: rgb(252, 247, 238);
}

.bar {
  text-align: center;
  width: 90%;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1.5rem 0;
  background-color: rgb(81, 73, 58);
  color: rgb(252, 247, 238);
}

.bar:hover {
  color: rgb(81, 73, 58);
  background-color: rgb(205, 197, 183);
  cursor: pointer;
  transition: background-color 400ms linear, color 400ms linear;
}

/* MOBILE */

/* END GENERAL */

header, footer {
  width: 100%;
  padding: 1.5rem 0;
}

nav {
  font-size: 1.5rem;
  justify-content: space-between;
}

nav img {
  height: 2rem;
  margin-left: 2rem;
  margin-right: 0.5rem;
}

#darker {
  color: black;
}

.nav-box {
  width: 8rem;
  margin: 0 0.5rem;
  text-align: center;
  font-weight: 200;
  font-size: 1.2rem;
  padding: 0.4rem 0;
  border: 1px solid rgb(205, 197, 183);
  border-radius: 5px;
}

.nav-box:hover {
  background-color: rgb(205, 197, 183);
  color: rgb(252, 247, 238);
  transition: all 400ms linear;
}

.nav-box:last-child {
  background-color: rgb(205, 197, 183);
}

a {
  text-decoration: none;
  color: inherit;
}

.small-screen {
  display: none;
}

@media only screen and (max-width: 480px) {
  span {
    display: none;
  }
  .nav-box {
    display: none;
  }
  .small-screen {
    display: flex;
  }
}

/* END HEADER */

@media only screen and (max-width: 480px) {
  section {
    display: none;
  }
  .container-mobile {
    display: block;
  }
  .mobile-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button {
  }
}

#first {
  background-color: rgb(205, 197, 183);
  padding: 2rem 0;
}

.button a {
  display: inline-block;
  border-radius: 5px;
  margin-top: 3rem;
  padding: 1.5rem 6rem;
  background-color: rgb(81, 73, 58);
  color: rgb(252, 247, 238);
}

.button a:hover {
  color: rgb(81, 73, 58);
  background-color: rgb(252, 247, 238);
  cursor: pointer;
  transition: background-color 400ms linear;
}

/* END FIRST */

#second {
  padding: 2rem 0;
}

#cite {
  line-height: 5;
  font-weight: 200;
}

.description {
  margin-right: 2rem;
}

.stacked {
  border-bottom: 1px solid rgb(205, 197, 183);
  border-top: 1px solid rgb(205, 197, 183);
  border-left: 1px solid rgb(205, 197, 183);
}

.image-small img {
  width: 100%;
}

.image-small {
  max-width: 35%;
  padding: 1rem 1.5rem 1rem 1rem;
}

.description-right {
  max-width: 55%;
  padding-right: 0.5rem;
}

#second a {
  line-height: 3;
}

#second a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#center-box {
  background-color: rgb(205, 197, 183);
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

/* END SECOND */

#third {
  padding: 2rem 0;
  background-color: rgb(205, 197, 183);
}

#six-item-box {
  margin: 0 4.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}

.item-box {
  max-width: 30%;
  margin: 1rem;
  background-color: rgb(252, 247, 238);
}

.image-small-wider img {
  width: 100%;
}

.description-bottom {
  padding: 1rem;
}

h4 {
  padding: 0.5rem 0;
  text-transform: uppercase;
}

/* END THIRD */

#fourth {
  padding: 2rem 0;
}

#fourth .fourty {
  align-self: flex-start;
}

#top-box {
  background-color: rgb(205, 197, 183);
  margin-bottom: 0.8rem;
}

/* END FOURTH */

footer {
  border-top: solid 1px rgba(205, 197, 183, 0.5);
}

footer .flex {
  justify-content: space-between;
  font-size: 0.8rem;
}

footer p {
  margin-left: 2rem;
}

footer a {
  margin-right: 2rem;
}

footer i, footer span {
  padding-left: 1rem;
}

footer span {
  font-weight: 800;
}
