html {
  font-size: 16px;
  font-family:;
  color: grey;
}

.container {
  margin: auto;
  width: 100%;
  border: 3px solid black;
}

.flex {
  display: flex;
  align-items: center;
  border: 1px solid blue;
}

.sixty {
  width: 60%;
  background-color: red;
}

.sixty img {
  width: 100%;
}

.fourty {
  width: 40%;
  background-color: green;
}

.margin {
  margin: 32px 24px;
}

/* END GENERAL */

header {
  width: 100%;
  background-color: lightblue;
}

nav {
  font-size: 1.5rem;
  justify-content: space-between;
  padding: 1.5rem 0;
}

nav img, footer img {
  height: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 0.5rem;
}

#darker {
  color: black;
}

ul li {
  display: inline;
  padding: 0 1rem;
}

/* END HEADER */
