html {
  font-size: 16px;
  font-family: 'Mukta', sans-serif;
  color: rgb(81, 73, 58);
  background-color: rgb(252, 247, 238);
}

.container {
  margin: auto;
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
}

.column {
  flex-direction: column;
  align-items: flex-start;
}

.sixty {
  max-width: 60%;
  margin-left: 2rem;
}

.fourty {
  max-width: 40%;
  margin-left: 2rem;
}

.image img {
  width: 100%;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  padding: 2rem 0;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.3;
  font-weight: 600;
  padding: 1rem 0 0.5rem 0;
}

p {
  line-height: 1.3;
}

/* END GENERAL */

header {
  width: 100%;
  padding: 1.5rem 0;
}

nav {
  font-size: 1.5rem;
  justify-content: space-between;
}

nav img, footer img {
  height: 2rem;
  margin-left: 2rem;
  margin-right: 0.5rem;
}

#darker {
  color: black;
}

.nav-box {
  width: 10rem;
  margin: 0 0.5rem;
  text-align: center;
  font-weight: 200;
  font-size: 1.2rem;
  padding: 0.4rem 0;
  border: 1px solid rgb(205, 197, 183);
  border-radius: 5px;
}

.nav-box:hover {
  background-color: rgb(205, 197, 183);
  color: rgb(252, 247, 238);
}

.nav-box:last-child {
  background-color: rgb(205, 197, 183);
}

a {
  text-decoration: none;
  color: inherit;
}

/* END HEADER */

#first {
  background-color: rgb(205, 197, 183);
  padding: 2rem 0;
  align-items: center;
}

.button a {
  display: inline-block;
  border-radius: 5px;
  margin-top: 3rem;
  padding: 1.5rem 8rem;
  background-color: rgb(81, 73, 58);
  color: rgb(252, 247, 238);
  transition: background-color 400ms linear 0;
}

.button a:hover {
  color: rgb(81, 73, 58);
  background-color: rgb(252, 247, 238);
  cursor: pointer;
  transition: background-color 400ms linear 0;
}

/* END FIRST */

#second {
  padding: 2rem 0;
}

#second a {
  line-height: 3;
}

#second a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#cite {
  line-height: 5;
  font-weight: 200;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.triple-stacked {
  border-bottom: 1px solid rgb(205, 197, 183);
  border-top: 1px solid rgb(205, 197, 183);
  border-left: 1px solid rgb(205, 197, 183);
  background-color: red;
}

.image-small img {
  padding: 1.5rem;
  width: 100%;
}

.image-small {
}

.description-right {
  padding: 0 2rem 0 1.5rem;
  width: 55%;
}

#middle {
  background-color: rgb(205, 197, 183);
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

/* END SECOND */

#third {
  padding: 2rem 0;
  background-color: rgb(205, 197, 183);
}

#third h1 {
  text-align: center;
}

#six-item-box {
  margin: 0 4.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}

.item-box {
  max-width: 30%;
  margin: 1rem;
  background-color: rgb(252, 247, 238);
}

.image-small-wider img {
  width: 100%;
}

.description-bottom {
  padding: 1rem;
}

h4 {
  padding: 0.5rem 0;
  text-transform: uppercase;
}

/* END THIRD */
